<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinapost.sd.effective.system.mapper.SysAuditorMapper">

    <sql id="Base_Column_List">
        id,
        auditor_id,
        auditor_name,
        audit_type,
        audit_order,
        creator_id,
        creator_name,
        create_time,
        updater_id,
        updater_name,
        update_time
    </sql>

    <sql id="List_Where_Clause">
        <where>
           <if test="query.id != null">
              and id = #{query.id}
           </if>
           <if test="query.auditorId != null">
              and auditor_id = #{query.auditorId}
           </if>
           <if test="query.auditorName != null">
              and auditor_name = #{query.auditorName}
           </if>
           <if test="query.auditType != null">
              and audit_type = #{query.auditType}
           </if>
           <if test="query.auditOrder != null">
              and audit_order = #{query.auditOrder}
           </if>
       </where>
    </sql>

   <select id="selectByPage" resultType="com.chinapost.sd.effective.system.domain.po.SysAuditorPO">
       select * from sys_auditor
       <include refid="List_Where_Clause"/>
   </select>

   <select id="selectByList" resultType="com.chinapost.sd.effective.system.domain.po.SysAuditorPO">
       select * from sys_auditor
       <include refid="List_Where_Clause"/>
   </select>
</mapper>