<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinapost.sd.effective.system.mapper.SysUserMapper">

    <sql id="Base_Column_List">
        id,
        post_id,
        dept_id,
        username,
        nick_name,
        user_type,
        email,
        phone_number,
        sex,
        avatar,
        password,
        status,
        login_ip,
        login_date,
        is_admin,
        remark,
        deleted,
        creator_id,
        creator_name,
        create_time,
        updater_id,
        updater_name,
        update_time
    </sql>

    <sql id="List_Where_Clause">
        <where>
            <if test="query.id != null">
                and id = #{query.id}
            </if>
            <if test="query.postId != null">
                and post_id = #{query.postId}
            </if>
            <if test="query.deptId != null">
                and dept_id = #{query.deptId}
            </if>
            <if test="query.username != null and query.username != ''">
                and username = #{query.username}
            </if>
            <if test="query.nickName != null and query.nickName != ''">
                and nick_name = #{query.nickName}
            </if>
            <if test="query.userType != null">
                and user_type = #{query.userType}
            </if>
            <if test="query.email != null and query.email != ''">
                and email = #{query.email}
            </if>
            <if test="query.phoneNumber != null and query.phoneNumber != ''">
                and phone_number = #{query.phoneNumber}
            </if>
            <if test="query.sex != null">
                and sex = #{query.sex}
            </if>
            <if test="query.avatar != null and query.avatar != ''">
                and avatar = #{query.avatar}
            </if>
            <if test="query.password != null and query.password != ''">
                and password = #{query.password}
            </if>
            <if test="query.status != null">
                and status = #{query.status}
            </if>
            <if test="query.loginIp != null and query.loginIp != ''">
                and login_ip = #{query.loginIp}
            </if>
            <if test="query.loginDate != null">
                and login_date = #{query.loginDate}
            </if>
            <if test="query.isAdmin != null">
                and is_admin = #{query.isAdmin}
            </if>
            <if test="query.remark != null and query.remark != ''">
                and remark = #{query.remark}
            </if>
            <if test="query.deleted != null">
                and deleted = #{query.deleted}
            </if>
       </where>
    </sql>


   <select id="selectByList" resultType="com.chinapost.sd.effective.system.domain.vo.PageSysUserVO">
       select
       t1.id,
       t1.post_id,
       t1.dept_id,
       t1.username,
       t1.nick_name,
       t1.user_type,
       t1.email,
       t1.phone_number,
       t1.sex,
       t1.avatar,
       t1.status,
       t1.login_ip,
       t1.login_date,
       t1.is_admin,
       t1.remark,
       t1.deleted,
       t1.create_time,
       t2.name dept_name
       from sys_user t1
       left join sys_dept t2 on t1.dept_id = t2.id
       <where>
           <if test="query.username != null and query.username != ''">
               and t1.username like concat('%', concat(#{query.username}, '%'))
           </if>
           <if test="query.phoneNumber != null and query.phoneNumber != ''">
               and t1.phone_number like concat('%', concat(#{query.phoneNumber}, '%'))
           </if>
           <if test="query.status != null">
               and t1.status = #{query.status}
           </if>
           <if test="query.deptId != null">
               and t1.dept_id = #{query.deptId}
           </if>
           <if test="query.beginTime != null">
               and t1.create_time &gt; #{query.beginTime}
           </if>
           <if test="query.endTime != null">
               and t1.create_time &lt; #{query.endTime}
           </if>
       </where>
   </select>

    <select id="getByUserName" resultType="com.chinapost.sd.effective.system.domain.po.SysUserPO">
        select * from sys_user
        where username = #{username}
    </select>
    <select id="selectAllInDataScope" resultType="com.chinapost.sd.effective.system.domain.po.SysUserPO">
        SELECT u.* FROM book_house.sys_user u
                          left join book_house.sys_dept d on u.dept_id  = d.id
        <where>
            <if test="deptId != null">
                and d.id =#{deptId} or  d.ancestors like concat('%', concat(#{deptId}, '%'))
            </if>
        </where>
    </select>

    <select id="selectOneById" resultType="com.chinapost.sd.effective.system.domain.po.SysUserPO">
        select * from sys_user
        where id = #{id}
    </select>

    <select id="selectByPage" resultType="com.chinapost.sd.effective.system.domain.vo.PageSysUserVO">
        select
            t1.id,
            t1.post_id,
            t1.dept_id,
            t1.username,
            t1.nick_name,
            t1.user_type,
            t1.email,
            t1.phone_number,
            t1.sex,
            t1.avatar,
            t1.status,
            t1.login_ip,
            t1.login_date,
            t1.is_admin,
            t1.remark,
            t1.deleted,
            t1.create_time,
            t2.name dept_name
        from sys_user t1
        left join sys_dept t2 on t1.dept_id = t2.id
        <where>
            <if test="query.username != null and query.username != ''">
                and t1.username like concat('%', concat(#{query.username}, '%'))
            </if>
            <if test="query.phoneNumber != null and query.phoneNumber != ''">
                and t1.phone_number like concat('%', concat(#{query.phoneNumber}, '%'))
            </if>
            <if test="query.status != null">
                and t1.status = #{query.status}
            </if>
            <if test="query.deptId != null">
                and t1.dept_id = #{query.deptId}
            </if>
            <if test="query.beginTime != null">
                and t1.create_time &gt; #{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and t1.create_time &lt; #{query.endTime}
            </if>
        </where>
    </select>
</mapper>